html {
    scroll-behavior: smooth;
  }

/* Header */
header {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 86px;

    background-image: #ffffff;

    z-index: 100;

    transition-duration: var(--transition);

    box-shadow: 0px 0px 30px 0px #0000001f;
}

.main-header .ml-auto {
    margin-right: 0!important;
}

.main-header {
    width: 90%;
    margin: auto;
}

header .main-header .navbar-toggler {
    background: var(--light-1);
}

.main-header .logo {
    width: 60px;
    height: auto;
}

.main-header .navbar-nav .nav-item {
    padding: 0 10px;
}

.main-header .navbar-nav .nav-item .nav-link {
    font-size: var(--font-1);
    font-weight: 400;
    color: var(--dark-1);
    border-radius: 1000px;

    padding: 5px 20px;

    transition-duration: var(--transition);
}

.main-header .navbar-nav .nav-item .nav-link:hover {
    color: var(--light-1);
    background: var(--highlight-2);
}

    /* Applies after user scrolls down */
.moved {
    background-image: linear-gradient(to right, var(--highlight-1) , var(--highlight-2));
}

.moved .navbar-nav .nav-item .nav-link  {
    color: var(--light-1);
}

/* Showcase */
.showcase {
    margin-top: 86px;
    
    padding: 150px 100px 50px 100px;

    height: fit-content;
}

.showcase .col-lg-6 {
    height: fit-content;
}

.showcase .icon {
    float: left;
    width: 150px;
    height: auto;

    margin-right: 20px;
}

.showcase .grid {
    padding-top: 5%;

    display: grid;
    grid-template-columns: auto 1fr;
}

.showcase .title {
    font-size: var(--font-5);

    font-family: Helvetica;
    font-weight: 600;

    color: var(--dark-1);
}

.showcase .subtitle {
    margin-top: 10px;

    font-size: var(--font-1);

    font-family: Helvetica;
    font-weight: lighter;

    letter-spacing: var(--letter-spacing);
    line-height: var(--line-height);

    color: var(--dark-2);
}

.showcase .btn {
    padding: 8px 30px;

    color: var(--light-1);
    background: var(--highlight-2-1);

    border-radius: 1000px;
}

.showcase .btn:hover {
    color: var(--light-1);

    background: var(--highlight-2-2);
}

.showcase .showcase-image {
    float: right;
}

/* Features */
.features {
    margin-top: 50px;
}

.features .title {
    text-align: center;

    font-size: var(--font-4);
    font-weight: bold;
    font-family: Helvetica;
    color: var(--dark-1);
}

.features .subtitle {
    text-align: center;

    font-size: var(--font-1);
    font-family: Helvetica;
    color: var(--dark-2);

    letter-spacing: var(--letter-spacing);
}

.features .col-lg-4 {
    padding: 40px;
    box-shadow: 0px 0px 30px 0px #00000000;

    transition-duration: var(--transition);
}

.features .col-lg-4:hover {
    padding-top: 30px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 30px 0px #0000001f;
}

.features .col-lg-4 img {
    max-width: 250px;

    margin-left: 50%;
    transform: translate(-50%, 0);
}

.features .col-lg-4 h5 {
    text-align: center;

    font-size: var(--font-2);
    font-family: Helvetica;

    color: var(--dark-1);
}

.features .col-lg-4 p {
    text-align: center;

    font-size: var(--font-1);
    font-family: Helvetica;
    font-weight: lighter;

    letter-spacing: var(--letter-spacing);
    line-height: var(--line-height);

    color: var(--dark-2);
}

/* Codebase */
.codebase {
    padding: 50px 0;
    background: var(--highlight-2);
}

.codebase .title {
    text-align: center;

    font-size: var(--font-4);
    font-weight: bold;
    font-family: Helvetica;
    color: var(--light-1);
}

.codebase .subtitle {
    text-align: center;

    font-size: var(--font-1);
    font-family: Helvetica;
    color: var(--light-1);

    letter-spacing: var(--letter-spacing);
}

.codebase .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;

    margin-left: 50%;
    transform: translate(-50%, 0);

    width: 50%;
} 

.codebase .btn {
    padding: 5px 20px;
    margin-left: 50%;
    transform: translate(-50%, 0);

    font-size: var(--font-2);
    white-space: nowrap;
    color: var(--light-1);

    border-radius: 1000px;
}

.codebase .btn:hover {
    color: var(--light-1);
    background: var(--highlight-3);
}

.codebase img {
    height: var(--font-2);
    width: auto;
}

/* Footer */
body footer {
    padding: 100px 0!important;
    background: var(--highlight-2);

    font-size: var(--font-1);
    font-family: Helvetica;
    color: var(--light-1);

    letter-spacing: var(--letter-spacing);
}

footer a {
    padding: 5px 15px;

    font-size: var(--font-1);
    font-family: Helvetica;
    color: var(--light-1);

    letter-spacing: var(--letter-spacing);

    border-radius: 1000px;

    transition: var(--transition);
}

footer a:hover {
    text-decoration: none;
    color: var(--light-1);

    background: var(--highlight-3);
}