/* Variables */
$highlight-1: #bde03f;
$highlight-2: #92a649;
$highlight-3: #6c7336;

$font: #222222;
$font-2: #444444;
$font-3: #666666;

$background-1: #ffffff;
$background-2: #f6f6f6;

$transition: 0.2s;

html { 
    scroll-behavior: smooth; 
    font-size: 1.1rem;
    overflow-y: auto !important;

    @media screen and (max-width: 1000px) {
        font-size: 1rem;
    }
    @media screen and (max-width: 600px) {
        font-size: 0.8rem;
    }
}

body {
    overflow-y: auto !important;
}

/* universal */
* {
    font-family: 'Lato', sans-serif;
    color: $font;
    overflow: hidden;
}

h4 {

    font-size: 1.2rem;
    font-weight: 600;
    color: $font-2;

}

p {
    font-size: 1.1rem;
    color: $font-3;
    font-family: 'Lato', sans-serif;
}

a {
    font-family: 'Lato', sans-serif;

    color: $highlight-2;

    &:before {
        background-color: $highlight-3 !important;
    }

    &:hover {
        text-decoration: none;
        color: $highlight-2;
    }
}

.title {
    width: 100%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.btn {

    background: $highlight-2;
    color: #ffffff !important;
    border: none;
    border-radius: 0;

    font-size: 1.2rem;
    font-weight: 600;

    transition-duration: $transition;

    &:before {

        background-color: $highlight-3;

    }

    &:hover {

        color: #ffffff;
        
    }

}

.dark-bg {
    background-color: $background-2;
}

/* Header */
nav {
    position: fixed !important;
    top: 0;
    left: 0;
    right: 0;

    box-shadow: 0px 0px 5px #00000011;

    z-index: 100;
}

/* Showcase */
.showcase {
    position: relative;
    width: 100%; 
    height: 100vh;

    background: #adcbe2;
    color: #ffffff;

    .headline {
        position: relative; 
        width: 70%; 
        
        top: 20%;
        left: 50%;
        transform: translateX(-50%); 
        
        text-align: center;

        @media screen and (max-width: 1200px) {

            top: Max(20%, 100px) !important;
            h2 {
                font-size: 2.5rem !important;
            }

        }

        @media screen and (max-width: 1000px) {

            h2 {
                font-size: 2rem !important;
            }

            h4 { 

                font-size: 1rem;

            }

        }

        h2 {
            font-size: 3rem;
            font-family: 'Montserrat', sans-serif;
            font-weight: 900;

            color: #ffffff;

            sub {
                color: #ffffff;
            }
        }

        h4 {
            color: #ffffff;

            sub {
                color: #ffffff;
            }
        }
    }

    #scene {

        position: absolute;
        top: 20%;
        bottom: -40%;
        left: 0;
        right: 0;

        overflow: hidden;

        div {

            position: absolute;

            top: 0;
            bottom: 0;
            left: 0;
            right: 0;

            background-repeat: no-repeat;
            background-position: top center;
            background-size: cover;
            overflow: hidden;
        }

    }
}

/* Problem */
.problem {

    overflow: visible !important;

    .container {
        overflow: visible !important;
        .row {
            overflow: visible !important;
            .col-md-4 {
                overflow: visible !important;
            }
        }
    }

    .card {

        border: none;
        box-shadow: 0px 1px 5px #00000022;

        transition-duration: $transition !important;

        .frame {
            height: 200px;
            background: transparent no-repeat center;
            background-size: cover;
        }

        a {
            margin: auto;
        }

        &:hover {

            margin-top: -10px;
            margin-bottom: 10px;

            box-shadow: 0px 3px 6px #00000044;

        }

    }
}

/* Solution */
.solution {
    
    .container {
        overflow: visible !important;
        .row {
            overflow: visible !important;
        }
    }

    .img-row {

        min-height: 400px;
        width: calc(100% - 30px);
        margin: auto;
        margin-top: 0;

        position: relative;

        border: 10px inset #eeeeeeaa;
        background-image: url('../images/solution.jpg');
        background-size: cover;
        background-position: center;

        transition-duration: $transition;

        overflow: visible !important;

        a {

            position: absolute;
            bottom: -45px;
            right: -35px;

            display: block;
            width: min-content;
            height: min-content;

            .play {
                font-size: 8rem;

                color: $highlight-1;
                transition-duration: $transition;

                &:hover {
                    transform: scale(1.1);
                }

            }

        }
    }

}

.technical {

    .img-row {

        width: calc(100% - 30px);
        margin: auto;

        position: relative;

        background-image: url('../images/technical.jpg'); 
        background-size: cover;
        background-position: center;

        min-height: 300px;
    }
    
}

/* Impact */
.impact {

    .img-row {

        width: calc(100% - 30px);
        margin: auto;

        position: relative;

        background-image: url('../images/impact.jpg'); 
        background-size: cover;
        background-position: center;

        min-height: 300px;
    }

}

/* about */
.about {

    p {

        text-align: center;

    }

    .person {

        text-align: center;

        img {

            border-radius: 50%;
            width: 30%;

        }

        .media {

            margin: auto;
            width: min-content;

            .fa {

                display: inline-block;

                position: relative;
                width: 40px;
                height: 40px;
                font-size: 25px;
                padding: 7.5px;

                border-radius: 50%;

                background: $highlight-3;
                color: white;

                transition-duration: $transition;

                &:before {

                    background-color: transparent !important;

                }

                &:hover {

                    background: $highlight-1;
                    text-decoration: none;

                }

            }

        }

    }

}