/* Variables */
html {
  scroll-behavior: smooth;
  font-size: 1.1rem;
  overflow-y: auto !important;
}

@media screen and (max-width: 1000px) {
  html {
    font-size: 1rem;
  }
}

@media screen and (max-width: 600px) {
  html {
    font-size: 0.8rem;
  }
}

body {
  overflow-y: auto !important;
}

/* universal */
* {
  font-family: 'Lato', sans-serif;
  color: #222222;
  overflow: hidden;
}

h4 {
  font-size: 1.2rem;
  font-weight: 600;
  color: #444444;
}

p {
  font-size: 1.1rem;
  color: #666666;
  font-family: 'Lato', sans-serif;
}

a {
  font-family: 'Lato', sans-serif;
  color: #92a649;
}

a:before {
  background-color: #6c7336 !important;
}

a:hover {
  text-decoration: none;
  color: #92a649;
}

.title {
  width: 100%;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.btn {
  background: #92a649;
  color: #ffffff !important;
  border: none;
  border-radius: 0;
  font-size: 1.2rem;
  font-weight: 600;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.btn:before {
  background-color: #6c7336;
}

.btn:hover {
  color: #ffffff;
}

.dark-bg {
  background-color: #f6f6f6;
}

/* Header */
nav {
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  -webkit-box-shadow: 0px 0px 5px #00000011;
          box-shadow: 0px 0px 5px #00000011;
  z-index: 100;
}

/* Showcase */
.showcase {
  position: relative;
  width: 100%;
  height: 100vh;
  background: #adcbe2;
  color: #ffffff;
}

.showcase .headline {
  position: relative;
  width: 70%;
  top: 20%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
}

@media screen and (max-width: 1200px) {
  .showcase .headline {
    top: Max(20%, 100px) !important;
  }
  .showcase .headline h2 {
    font-size: 2.5rem !important;
  }
}

@media screen and (max-width: 1000px) {
  .showcase .headline h2 {
    font-size: 2rem !important;
  }
  .showcase .headline h4 {
    font-size: 1rem;
  }
}

.showcase .headline h2 {
  font-size: 3rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  color: #ffffff;
}

.showcase .headline h2 sub {
  color: #ffffff;
}

.showcase .headline h4 {
  color: #ffffff;
}

.showcase .headline h4 sub {
  color: #ffffff;
}

.showcase #scene {
  position: absolute;
  top: 20%;
  bottom: -40%;
  left: 0;
  right: 0;
  overflow: hidden;
}

.showcase #scene div {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  overflow: hidden;
}

/* Problem */
.problem {
  overflow: visible !important;
}

.problem .container {
  overflow: visible !important;
}

.problem .container .row {
  overflow: visible !important;
}

.problem .container .row .col-md-4 {
  overflow: visible !important;
}

.problem .card {
  border: none;
  -webkit-box-shadow: 0px 1px 5px #00000022;
          box-shadow: 0px 1px 5px #00000022;
  -webkit-transition-duration: 0.2s !important;
          transition-duration: 0.2s !important;
}

.problem .card .frame {
  height: 200px;
  background: transparent no-repeat center;
  background-size: cover;
}

.problem .card a {
  margin: auto;
}

.problem .card:hover {
  margin-top: -10px;
  margin-bottom: 10px;
  -webkit-box-shadow: 0px 3px 6px #00000044;
          box-shadow: 0px 3px 6px #00000044;
}

/* Solution */
.solution .container {
  overflow: visible !important;
}

.solution .container .row {
  overflow: visible !important;
}

.solution .img-row {
  min-height: 400px;
  width: calc(100% - 30px);
  margin: auto;
  margin-top: 0;
  position: relative;
  border: 10px inset #eeeeeeaa;
  background-image: url("../images/solution.jpg");
  background-size: cover;
  background-position: center;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  overflow: visible !important;
}

.solution .img-row a {
  position: absolute;
  bottom: -45px;
  right: -35px;
  display: block;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
}

.solution .img-row a .play {
  font-size: 8rem;
  color: #bde03f;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.solution .img-row a .play:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.technical .img-row {
  width: calc(100% - 30px);
  margin: auto;
  position: relative;
  background-image: url("../images/technical.jpg");
  background-size: cover;
  background-position: center;
  min-height: 300px;
}

/* Impact */
.impact .img-row {
  width: calc(100% - 30px);
  margin: auto;
  position: relative;
  background-image: url("../images/impact.jpg");
  background-size: cover;
  background-position: center;
  min-height: 300px;
}

/* about */
.about p {
  text-align: center;
}

.about .person {
  text-align: center;
}

.about .person img {
  border-radius: 50%;
  width: 30%;
}

.about .person .media {
  margin: auto;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
}

.about .person .media .fa {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 40px;
  font-size: 25px;
  padding: 7.5px;
  border-radius: 50%;
  background: #6c7336;
  color: white;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.about .person .media .fa:before {
  background-color: transparent !important;
}

.about .person .media .fa:hover {
  background: #bde03f;
  text-decoration: none;
}
/*# sourceMappingURL=main.css.map */