html, body {
    font-family: Calibri, 'Trebuchet MS', sans-serif;
}

.container {
    width: 90%;
    margin: auto;
}

/* Showcase */
.showcase {
    margin-left: 5%;
    width: 90%;
    margin-bottom: 15px;
}

.showcase video {
    z-index: -1;   
}

.showcase div {
    width: 45%;
    float: right;
    clear: both;
}

.showcase h3 {
    font-size: 25px;
    text-align: center;
}

.showcase p {
    font-size: 18px;
    text-indent: 20px;
    text-align: justify;
    clear: both;
}

/* Boxes */
.box {
    background: #272727;
    color: #f4f4f4;
    margin: -19px;
    margin-left: -1px;
    min-height: 60px;
    transition-duration: 0.5s;
}

.box:hover {
    min-height: 90;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #171717;
}

.box:nth-child(even) {
    background: #f4f4f4;
    color: #272727;
}

.box:nth-child(even):hover {
    background: #ffffff;
}

.box a {
    text-decoration: none;
    color: #f4f4f4;
}

.box:nth-child(even) a {
    color: #272727;
}

.box .container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 20px;
}

.box .container h3 {
    text-align: center;
    margin-top: 15px;
    margin-bottom: -8px;
    margin-right: 10px;
    font-size: 30px;
}

.box .container p {
    margin-bottom: 25px;
    text-indent: 20px;
    text-align: center;
    margin-right: 10px;
    font-size: 15px;
}

.box .container img {
    width: 60%;
    margin: 10px;
    margin-left: 20%;
    margin-bottom: 26px;
}
