<%- include('partials/header.ejs') %>

<div class="load_animation">

</div>

<div id="page">

    <div class="section active" data-anchor="header">

        <div class="title-card animated-entrance">

            <h1 class="left">Robert<br>MacWha</h1>

            <div class="block left">
                <span></span>
                <span style="margin-left: 50px;"></span>
            </div>

            <p class="left">ML scientist /<br>innovator</p>

        </div>

    </div>
    <div class="section" data-anchor="projects">
        
        <div class="title-card animated-entrance">

            <h1>Portfolio</h1>

            <div class="block">
                <span></span>
                <span style="margin-left: 50px;"></span>
            </div>

            <p>Recent projects</p>

            <a href="/portfolio" class="btn transition">See more</a>

        </div>
        <a href="/portfolio" class="showcase">
            <img src="images/undefined.jpg">
        </a>

    </div>
    <div class="section" data-anchor="focus">

        <div class="title-card">

            <h1>Focus</h1>
    
            <div class="block">
                <span></span>
                <span style="margin-left: 50px;"></span>
            </div>
    
            <p>Artificial intelligence &<br> Deep learning</p>
    
            <a href="/focus" class="btn transition">See more</a>
    
        </div>
        <a href="/focus" class="showcase">
            <img src="images/undefined.jpg">
        </a>

    </div>
    <div class="section" data-anchor="about">

        <div class="title-card">

            <h1>About Me</h1>

            <div class="block">
                <span></span>
                <span style="margin-left: 50px;"></span>
            </div>

            <p>Interests & passions</p>

            <a href="/about" class="btn transition">See more</a>

        </div>
        <a href="/about" class="showcase">
            <img src="images/undefined.jpg">
        </a>

    </div>

</div>

<div class="parallax">

    <img src="images/sun.svg" alt="">
    <img src="images/mountian-1.svg" alt="" class="parallax_element" speed=1>
    <img src="images/mountian-2.svg" alt="" class="parallax_element" speed=2>
    <img src="images/mountian-3.svg" alt="" class="parallax_element" speed=3>
    <img src="images/ground-1.svg"   alt="" class="parallax_element" speed=4>
    <img src="images/ground-2.svg"   alt="" class="parallax_element" speed=5>

</div>

<script src="fullpage.js/dist/fullpage.min.js"></script>
<script src="js/index.js"></script>

<%- include('partials/footer.ejs') %>