#clouds {
    width: 100%;
    height: 100vh;
}

#clouds canvas {
    z-index: -1;
}

/* Nav bar */
nav {
    z-index: 3;
    display: none;
}

/* Showcase */
.showcase p {
    display: none;

    top: calc(22vh + 100px);
    z-index: 3;

    color: #272727;
}

.showcase h1 {
    display: none;
}