/* Nav Bar */
.sidenav {
    width: 350px;
    height: auto;
    float: left;
    padding-left: 20px;
    background: #35DADA;
    color: #ffffff;
    top: 0;
    margin-bottom: 0;
    clear: none;
    overflow-y: hidden;
    overflow-x: hidden;
}

.sidenav h3 {
    padding: 0;
    margin: 0;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 28px;
}

.sidenav li {
    padding: 2px 0;
    padding-left: 10px;
}

.sidenav a {
    color: #ffffff;
    text-decoration: none;
    padding: 6px;
    padding-bottom: 8px;
    padding-top: 4px;
    text-transform: capitalize;
}

.sidenav a:hover {
    border-radius: 25px;
    padding: 2px;
    border: #ffffff 4px solid;
}

.sidenav a.current {
    border-radius: 25px;
    background: #ffffff;
    padding: 2px;
    border: #ffffff 4px solid;
    color: #35DADA;
    font-weight: bold;
}

/* Tutorial */
.tutorial {
    margin-left: 350px;
    color: #272727;
    margin-bottom: 0px;
}

.tutorial h1  {
    margin: 0;
    padding: 0;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 50px;
    text-align: center;
}

.tutorial .left {
    width: 44%;
    float:left;
    margin-top: 15px;
    margin-left: 3%;
}

.tutorial .right {
    width: 44%;
    float: right;
    margin-top: 15px;
    margin-right: 3%;
}

.tutorial video {
    width: 100%;
    height: auto;
} 

.tutorial p {
    text-indent: 25px;
    text-align: justify;
}

/* Bottom Nav */
.bottom-nav {
    width: 300px;
    height: 25px;
    float: right;
    clear: none;
    margin: 0;
    padding: 0;
    margin-top: 250px;
}

.bottom-nav .previous-tutorial {
    float: left;
    margin-left: 3%;
}

.bottom-nav .next-tutorial {
    float: right;
    margin-right: 3%;
}

.bottom-nav a {
    text-decoration: none;
    color: #272727;
    font-weight: bold;
    padding: 8px;
    font-size: 25px;
}

.bottom-nav a:hover {
    padding: 4px;
    border-radius: 25px;
    border: #35DADA 4px solid;
}

@media (max-width: 1300px) {
    .tutorial .left {
        text-align: center;
        float: none;
        margin:auto;
        margin-top: 20px;
        width: 60%;
    }

    .tutorial .right {
        text-align: center;
        float: none;
        margin:auto;
        width: 80%;
    }

    .bottom-nav {
        margin-top: 25px;
    }
}