<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enviro Lynx</title>
    
    <link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="./css/index.css">
    <link rel="stylesheet" type="text/css" href="./css/data.css">

    <link rel="stylesheet" type="text/css" href="./css/media.css">

    <link rel="stylesheet" type="text/css" href="./css/vars.css">
</head>
<body>
    <p class="hidden" id="date_ID">{{id}}</p>

    <header id="header">
        <!-- Header -->
        <div class="container-fluid main-header">
                    
                <nav class="navbar navbar-expand-lg navbar-light">

                    <a class="navbar-brand" href="{{ url_for('home') }}">
                        <img class="logo" src="./imgs/Logo.PNG">
                    </a>
                    
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                
                    <div class="navbar-collapse collapse" id="navbarSupportedContent">
    
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">     <a class="nav-link" href="{{ url_for('home') }}">Home</a>         </li>
                        </ul>
    
                    </div>
    
                </nav>

        </div>

    </header>

    <div class="spacer"></div>

    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h3 class="title mb-2">{{d1}}</h3>
                <p class="subtitle mb-5" id="st-1"></p>
            </div>
            <div class="col-lg-6">
                <h3 class="title mb-2">{{d2}}</h3>
                <p class="subtitle mb-5" id="st-2"></p>
            </div>
            <div class="col-lg-6">
                <h3 class="title mb-2">{{d3}}</h3>
                <p class="subtitle" id="st-3"></p>
            </div>
            <div class="col-lg-6">
                <h3 class="title mb-2">{{d4}}</h3>
                <p class="subtitle mb-5" id="st-4"></p>
            </div>
        </div>
    </div>

    <script src="./js/jquery.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>

    <script src="./js/index.js"></script>
    <script src="./js/dates.js"></script>
</body>
</html>