<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enviro Lynx</title>

    <link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="./css/index.css">
    <link rel="stylesheet" type="text/css" href="./css/environment.css">

    <link rel="stylesheet" type="text/css" href="./css/media.css">

    <link rel="stylesheet" type="text/css" href="./css/vars.css">
</head>
<body>
    <header id="header">
        <!-- Header -->
        <div class="container-fluid main-header">
                    
                <nav class="navbar navbar-expand-lg navbar-light">

                    <a class="navbar-brand" href="{{ url_for('home') }}">
                        <img class="logo" src="./imgs/Logo.PNG">
                    </a>
                    
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                
                    <div class="navbar-collapse collapse" id="navbarSupportedContent">
    
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">     <a class="nav-link" href="{{ url_for('home') }}">Home</a>         </li>
                        </ul>
    
                    </div>
    
                </nav>

        </div>

    </header>

    <div class="spacer"></div>

    <section class="biome-selection container" id="biome-selection">
        
        <div class="page-info mb-5">

            <h1 class="title mb-2">Biome Selection</h1>
            <h3 class="subtitle mb-6">Choose what biome you want to run the simulation for.</h3>

        </div>

        <div class="row">
            <div class="col-lg-4 mb-2">
                <button onClick="selectBiome(0)" class="btn l">Land</button>
            </div>
            <div class="col-lg-4 mb-2">
                <button onClick="selectBiome(1)" class="btn o">Ocean</button>
            </div>
            <div class="col-lg-4 mb-2">
                <button onClick="selectBiome(2)" class="btn s">Sky</button>
            </div>
        </div>

    </section>

    <section class="mode-selection container hidden" id="mode-selection">

        <div class="page-info mb-5">

            <h1 class="title mb-2">Choose the simulation type</h1>
            <h3 class="subtitle mb-6">There are many variations of passages of Lorem Ipsum available.</h3>
            <img class="icon" id="environment-icon">

        </div>

        <div class="row">
            <div class="col-lg-6 mb-2">
                <button onClick="setMode(0)" class="btn l">Estimate from Year</button>
            </div>
            <div class="col-lg-6 mb-2">
                <button onClick="setMode(1)" class="btn o">Estimate by Year</button>
            </div>
        </div>

    </section>

    <section class="container form hidden" id="land">

        <div class="page-info mb-5">

            <h1 class="title mb-2">Select Default Values</h1>
            <h3 class="subtitle mb-6">There are many variations of passages of Lorem Ipsum available.</h3>
            <div class="grid">
                <img class="icon" id="environment-icon-1">
                <img class="icon" id="mode-icon-1">
            </div>

        </div>

        <form action="#" method="post">

            <input class="hidden" type="text" name="env" id="l-env"></input>

            <div class="row">
                <div class="col-lg-6">
                    <p>Population Density (/sq. km)</p>
                    <input type="number" name="l-i1">
                </div>
                <div class="col-lg-6">
                    <p>Worldwide Agricultural Area (%)</p>
                    <input type="number" name="l-i2">
                </div>
                <div class="col-lg-6">
                    <p>Forest Area (sq. km)</p>
                    <input type="number" name="l-i3">
                </div>
                <div class="col-lg-6">
                    <p>Urban Population</p>
                    <input type="number" name="l-i4">
                </div>
            </div>

            <input type="submit" value="Submit" class="btn"/>
        </form>

    </section>

    <section class="container form hidden" id="ocean">

        <div class="page-info mb-5">

            <h1 class="title mb-2">Select Default Values</h1>
            <h3 class="subtitle mb-6">There are many variations of passages of Lorem Ipsum available.</h3>
            <div class="grid">
                <img class="icon" id="environment-icon-2">
                <img class="icon" id="mode-icon-2">
            </div>

        </div>

        <form action="#" method="post">
            
            <input class="hidden" type="text" name="env" id="o-env"></input>
            
            <div class="row">
                <div class="col-lg-6">
                    <p>Population Density (/sq. km)</p>
                    <input type="number" name="o-i1">
                </div>
                <div class="col-lg-6">
                    <p>Temperature (C)</p>
                    <input type="number" name="o-i2">
                </div>
                <div class="col-lg-6">
                    <p>Ocean Acidity (PH)</p>
                    <input type="number" name="o-i3">
                </div>
                <div class="col-lg-6">
                    <p>Seawater CO2</p>
                    <input type="number" name="o-i4">
                </div>
            </div>

            <input type="submit" value="Submit" class="btn"/>
        </form>

    </section>

    <section class="container form hidden" id="sky">

        <div class="page-info mb-5">

            <h1 class="title mb-2">Select Default Values</h1>
            <h3 class="subtitle mb-6">There are many variations of passages of Lorem Ipsum available.</h3>
            <div class="grid">
                <img class="icon" id="environment-icon-3">
                <img class="icon" id="mode-icon-3">
            </div>

        </div>

        <form action="#" method="post">
            
            <input class="hidden" type="text" name="env" id="s-env"></input>
            
            <div class="row">
                <div class="col-lg-6">
                    <p>Population Density</p>
                    <input type="number" name="s-i1">
                </div>
                <div class="col-lg-6">
                    <p>Nitrous Oxide Emissions (kt)</p>
                    <input type="number" name="s-i2">
                </div>
                <div class="col-lg-6">
                    <p>CO2 Emissions (kt)</p>
                    <input type="number" name="s-i3">
                </div>
                <div class="col-lg-6">
                    <p>Methane Emissions (kt)</p>
                    <input type="number" name="s-i4">
                </div>
            </div>

            <input type="submit" value="Submit" class="btn"/>
        </form>

    </section>

    <section class="container form hidden" id="year">

        <div class="page-info mb-5">

            <h1 class="title mb-2">Select Starting Year</h1>
            <h3 class="subtitle mb-6">There are many variations of passages of Lorem Ipsum available.</h3>
            <div class="grid">
                <img class="icon" id="environment-icon-4">
                <img class="icon" id="mode-icon-4">
            </div>

        </div>

        <form action="#" method="post">
            
            <input class="hidden" type="text" name="env" id="y-env"></input>
            
            <div class="row">
                <div class="col-lg-12">
                    <p>Starting Year</p>
                    <input type="number" name="y-i1">
                </div>
            </div>

            <input type="submit" value="Submit" class="btn"/>
        </form>       

    </section>

    <!--Footer-->
    <footer class="page-footer font-small blue">

        <div class="footer-copyright text-center py-3">© 2020 Copyright:
            <a href="https://EnviroLynx.com/"> EnviroLynx.com</a>
        </div>
        
    </footer>

    <script src="./js/jquery.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>

    <script src="./js/environment.js"></script>
    <script src="./js/index.js"></script>
</body>
</html>