<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enviro Lynx</title>

    <link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="./css/index.css">
    <link rel="stylesheet" type="text/css" href="./css/environment.css">

    <link rel="stylesheet" type="text/css" href="./css/media.css">

    <link rel="stylesheet" type="text/css" href="./css/vars.css">
</head>
<body>

    <div class="mb-5"></div>

    <div class="container">

        {{svgInfo |safe }}
        </svg>

    </div>

</body>
</html>