/* Text */
.info {
    width: 1000px;
    margin: auto;
    margin-top: 20px;
    color: #333333;
}

.info .gridA {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-column-gap: 20px;
    
    text-align: justify;
    text-indent: 40px;
    margin-bottom: 50px;
}

.info .gridB {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-column-gap: 20px;
    
    text-align: justify;
    text-indent: 40px;
    margin-bottom: 50px;
}

.info .text {
    text-align: justify;
    text-indent: 40px;
}

.info img {
    width: 80%;
    margin: auto;
}