header {
    padding-bottom: -20px;
}

/* Resources */
.boxes {
    background: #ffffff;
    color: #272727;
    margin:auto;
    margin-top: 10px;
}

.boxes a {
    color: #272727;
    text-decoration: none;
}

.boxes .box {
    text-align: center;
    clear: both;
    padding-top: 20px;
}

.boxes h2 {
    font-size: 50px;
    margin: 0;
}

.resources .resource {
    width: 30%;
    float: left;
    padding-left: 3%;
    text-align: center;
}

.resources .resource img {
    height: 170px;
    margin-bottom: 0;
    transition: height 0.5s,
                margin-bottom 0.5s;
}

.resources .resource img:hover {
    height: 180px;
    margin-bottom: -10px;
}

.resources .resource#center {
    float: none;
    text-align: center;
    margin: auto;
}