/* General */
.spacer {
    width: 100%;
    height: 86px;
}

.container {
    padding: 150px 100px 50px 100px;

    overflow-x: hidden;
}

.title {
    font-size: var(--font-5);

    font-family: Helvetica;
    font-weight: 600;

    color: var(--dark-1);
}

.subtitle {
    margin-top: 10px;

    font-size: var(--font-1);

    font-family: Helvetica;
    font-weight: lighter;

    letter-spacing: var(--letter-spacing);
    line-height: var(--line-height);

    color: var(--dark-2);
}

.hidden {
    display: none;
}

.icon {
    width: 120px;
    height: auto;
    padding: 10px;
}


/* Biome Selection */
.biome-selection .grid {
    display: grid;
    grid-template-columns: auto 1fr;

    width: fit-content;

    margin: auto;
}

.biome-selection .page-info {
    width: fit-content;
    margin: auto;
    text-align: center;
}

.biome-selection .row {
    width: 50%;
    margin: auto
}

.biome-selection .btn {
    padding: 5px 20px;
    margin-left: 50%;
    transform: translate(-50%, 0);

    font-size: var(--font-1);
    white-space: nowrap;
    color: var(--dark-1);

    border-radius: 1000px;
}

.biome-selection .btn:hover {
    color: var(--light-1);
}

.biome-selection .l:hover {
    background: #2ab863;
}

.biome-selection .o:hover {
    background: #462ab8;
}

.biome-selection .s:hover {
    background: #94d1fa;
}

/* Mode Selection */
.mode-selection .grid {
    display: grid;
    grid-template-columns: auto 1fr;

    width: fit-content;

    margin: auto;
}

.mode-selection .page-info {
    width: fit-content;
    margin: auto;
    text-align: center;
}

.mode-selection .row {
    width: 50%;
    margin: auto
}

.mode-selection .btn {
    padding: 5px 20px;
    margin-left: 50%;
    transform: translate(-50%, 0);

    font-size: var(--font-1);
    white-space: nowrap;
    color: var(--dark-1);

    border-radius: 1000px;
}

.mode-selection .btn:hover {
    color: var(--light-1);
    background-color: var(--highlight-3);
}

/* Form */
.form .grid {
    display: grid;
    grid-template-columns: auto 1fr;

    width: fit-content;

    margin: auto;
}

.form .page-info {
    width: fit-content;
    margin: auto;
    text-align: center;
}

.form .row {
    width: 50%;
    margin: auto
}

.form .btn {
    padding: 5px 20px;
    margin-top: 20px;
    margin-left: 50%;
    transform: translate(-50%, 0);

    font-size: var(--font-1);
    white-space: nowrap;
    color: var(--dark-1);

    border-radius: 1000px;
}

.form .btn:hover {
    color: var(--light-1);
    background-color: var(--highlight-3);
}

.form .row p {
    width: 100%;
    text-align: center;
}

.form .row input {
    width: 100%;
    padding: 0 10px;
}