
@media (max-width: 1400px) {
    .showcase .title {
        font-size: var(--font-4);
    }
}

@media (max-width: 1225px) {
    .showcase {
        padding-top: 50px;
    }

    .showcase .grid {
        padding-top: 0;
    }

    .showcase .title {
        font-size: var(--font-3);
    }

    .showcase .btn {
        padding: 8px 13px;
    }
}

@media (max-width: 992px) {
    .main-header .navbar-collapse {
        margin-top: 8px;
        background-color: var(--light);
        box-shadow: 0px 0px 30px 0px #0000001f;
    }

    .main-header .navbar-nav .nav-item .nav-link {
        border-radius: 0;

        color: var(--dark-1);
    }

    .showcase .btn {
        padding: 8px 30px;
    }

    .showcase .showcase-image {
        padding-top: 20px;
        float: none;

        width: auto;
        height: auto;

        margin: auto;
    }

    .features .col-lg-4 {
        width: min-content;

        margin-left: 50%;
        transform: translate(-50%, 0);
    }

    .features .col-lg-4 img {
        margin-left: 50%;
        transform: translate(-50%, 0);
    }

    .prediction-icon {
        display: none;
    }

    .codebase .col-lg-8 {
        padding-top: 0;
    }

    .codebase .title {
        text-align: center;
    }

    .codebase .subtitle {
        text-align: center;
    }

    .codebase .grid {
        margin-left: 50%;
        transform: translate(-50%, 0);
    }
}

@media (max-width: 800px) {
    .showcase .grid {
        display: inherit;
    }

    .showcase .title {
        font-size: var(--font-4);

        text-align: center;
    }

    .showcase .subtitle {
        text-align: center;
    }

    .showcase .btns {
        margin: auto;
        width: 90%;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .showcase .btn {
        margin: auto;
    }

    .showcase .icon {
        display: none;
    }
}

@media (max-width: 650px) {
    .showcase {
        padding: 50px 20px 20px 20px;
    }
}

@media (max-width: 500px) {
    .codebase .grid {
        width: 90%;
    }
}

/* Environment page */
@media (max-width: 992px) {
    .biome-selection .btn {
        padding: 10px 100%;
    }

    .mode-selection .btn {
        padding: 10px 100%;
    }
}
